.bg_nav {
  background: rgb(224, 222, 88);
  background: radial-gradient(
    circle,
    rgba(224, 222, 88, 1) 0%,
    rgba(126, 217, 146, 1) 84%
  );
}
a.navList {
  padding: 8px 0px;
}
a.navList:hover {
  background: #dafffb;
  transition: 0.5s;
}
