.responsive_css {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 3rem;
}
.card_css:hover {
  cursor: pointer;
  display: red;
}
.bg_gradient {
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}
